<?xml version="1.0" encoding="utf-8"?>
<!-- 請記得，每次變更間隔時間必須超過 30 秒，否則最後一次變更不會生效！-->
<configuration>
  <CommonParameter>
    <XmlSerializableHashtable>
      <Entries>
        <!-- 程式可能安裝的機器  -->
        <Entry>
          <key>common.LocalServer</key>
          <value>E00302X01635</value>
        </Entry>
        <Entry>
          <key>common.ProductionServer</key>
          <value>E00302X01635</value>
        </Entry>
        <Entry>
          <key>common.SystemIntegrationTestingServer</key>
          <value>1.1.1.0</value>
        </Entry>
        <Entry>
          <key>common.UserAccessTestingServer</key>
          <value>1.1.1.0</value>
        </Entry>

      </Entries>
    </XmlSerializableHashtable>
  </CommonParameter>
</configuration>
