<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <DbConnectionString>
    <XmlSerializableHashtable>
      <Entries>
         <Entry>
          <key>DbConnectionString.MPS.Local</key>
          <value>Server=PHQPPMD01;Database=PPM;uid=aioplan;pwd=gAAAAABgihViFYetTwvDz7h7HnCEOoMvi4nr6xHK0YWam69Pd_2CW5_98lMgAo6In9AFf-z3PcfXKjG9-6ucacOeFsAeLWZHMQ</value>
        </Entry>
        <Entry>
          <key>DbConnectionString.MPS.SystemIntegrationTesting</key>
          <value>Server=PHQPPMD01;Database=PPM;uid=aioplan;pwd=gAAAAABgihViFYetTwvDz7h7HnCEOoMvi4nr6xHK0YWam69Pd_2CW5_98lMgAo6In9AFf-z3PcfXKjG9-6ucacOeFsAeLWZHMQ</value>
        </Entry>
        <Entry>
          <key>DbConnectionString.MPS.UserAccessTesting</key>
          <value>Server=PHQPPMD01;Database=PPM;uid=aioplan;pwd=gAAAAABgihViFYetTwvDz7h7HnCEOoMvi4nr6xHK0YWam69Pd_2CW5_98lMgAo6In9AFf-z3PcfXKjG9-6ucacOeFsAeLWZHMQ</value>
        </Entry>
        <Entry>
          <key>DbConnectionString.MPS.Production</key>
          <value>Server=PHQPPMD01;Database=PPM;uid=aioplan;pwd=gAAAAABgihViFYetTwvDz7h7HnCEOoMvi4nr6xHK0YWam69Pd_2CW5_98lMgAo6In9AFf-z3PcfXKjG9-6ucacOeFsAeLWZHMQ</value>
        </Entry>
      </Entries>
    </XmlSerializableHashtable>
  </DbConnectionString>
</configuration>